/*  Utility classes */
.large {
		font-size: 2.5rem;
}

/* Mainheader */

#mainheader {
		height: 100%; 
}

/*  Navbar  */

#navbar .logo {
		float: none;
		text-align: center;
}

/* seleccionar el navbar ul li a  */

#navbar ul li a {
		padding: 15px;
}

/* Showcase */

/*Nota : el # representa en CSS el id que esta en html*/

#showcase {
		padding: 0;
		text-align: center;
}

/*permite alinear el texto y la foto en una sola fila*/

.showcase-row {
		flex-wrap: wrap;
		padding: 20px 0;
}

.showcase-row-img img {
		width: 100%;
		padding-top: 40px;
}

/* llamando al parrafo p de la class large*/

.showcase-row-title p.large {
		padding-bottom: 15px;  /*nos seara un poco el parrafo del boton*/

}

/* Portfolio*/

#portfolio {
		padding-top: 80px;
		padding-bottom: 40px;
}

#portfolio p {
		width: 100%;
}

/* About Me */

#about {
	padding-top: 80px;
	padding-bottom: 40px;
}

#about h2 {
		padding-bottom: 10px;  /*dar un espacio entre la cabecera o titulo y el parrafo*/
}

#about p {
		padding-bottom: 5px;/*espacio entre parrafos de 20px pixeles*/
}

/* Alinear el Contact Me */

#contact {
	padding-top: 80px;
	padding-bottom: 40px;
}

#contact p {
		width: 100%;
}

.contact-row {
		flex-wrap: wrap;
		padding: 0;
}

.contact-row-img {
		width: 100%;
}

.contact-row-img img {
		padding: 0;
		display: block;
		margin: 0 auto;  /*es para centrar*/
		margin-bottom: 50px;
}

.contact-row-form {
		width: 100%;
		padding: 10px; /*espacios por fuera de los label e input y el boton*/
}

