@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset "permite tener el control total de los espacios colocando en ceros el padding,margin,box-sizing ren border..."*/
*{
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

/* Main Stayling   "estilos principales de mi proyecto" */

html,
body{
	font-family: Montserrat, sans-serif;   /*me permite cambiar la tipografia de la pagina*/
	color: rgb(16, 15, 15);  /*  tipo de color para las letras*/
}


h1 { font-size: 2.5rem;}

h2 { 
	font-size: 2rem;
	font-weight: 500;
}

h4 { font-size: 1.5rem;}

p { 
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
	font-weight: 300;
}

a {
	  text-decoration: none;/*para que no tengan lineas en sus enlaces*/
}

/*  Utility classes */

.container {
		margin: auto;
		max-width: 1300px;   /*  para que respete un espacio de lado y lado de la pagina*/
		overflow: auto;
		padding: 0 20px;
}

.large {
		font-size: 1.25rem;
}

.txt-orange {
		color: #e9a075;
}

.display-1 {
		font-size: 4rem;
}

.btn-dark {
		background: #e9a075;
		border: 1px solid #e9a075;
		color: white;
}

.btn {
		display: inline-block;
		font-size: 15px;
		padding: 12px 23px;
		font-weight: bold;
		letter-spacing: 1px;
		border-radius: 4px;
}

.btn-round {
		border-radius: 20px;
}

/*cuando pase el mouse por encima cambiara de color*/

.btn-dark:hover {
		background: #d19069;
		color: #ffffff;
}

/* damos una mejor forma al formulario */

form label {
		display: inline-block;
		margin-bottom: 6px;
}

form .form-group {
		margin-bottom: 16px;
}

form .form-control {
		display: block;   /* permite que el input salte un renglon */
		width: 100%;
		padding: 7px 12px;
		font-size: 1rem;  /*tamaño*/
		line-height: 1.5;
		color: #080909;
		background: #ffffff;
		border: 1px solido #ced4da;
		border-radius: 4px;
}


/* Mainheader aqui colocamos el tomate degradado que se mira en el fondo*/

#mainheader {
		background: radial-gradient(at 10% 10px, #d19069, #ffffff, #ffffff);  /*color degradado*/
		height: 100vh;  /*para su altura en portada vertical*/
}

/*  Navbar  */

#navbar {
		color: #ffffff;
		overflow: auto;
		padding-top: 20px;
		padding-bottom: 20px;

}

#navbar a {
		color: #0c0b0b;   /*color de enlaces*/
}

/* estilos para el logo en el momento le tengo puesto my portfolio*/

#navbar .logo {
		float: left;
		padding-top: 16px;
		font-size: 25px;    /*tamaño*/
}

/*Navbar se alinie a la derecha*/

#navbar ul {
		list-style: none;  /*quita los puntos de la lista*/
		float: right;    /*para que se alinie o folte a la derecha*/
}

/* navbar de la lista me flote a la izquierda */

#navbar ul li {
		float: left;
}

/* seleccionar el navbar ul li a y que despliegue tipo bloque, */

#navbar ul li a {
		display: block;
		padding: 20px;
		text-align: center;
}

/*cuando pasa el mouse por el Navbar cambia de color*/

#navbar ul li a:hover {
		color: #d19069;
}

/* Showcase */

/*Nota : el # representa en CSS el id que esta en html*/

#showcase {
		padding: 80px 0px;  /*80px arriba y abajo y 0 laterales*/
}

/*permite alinear el texto y la foto en una sola fila*/

.showcase-row {
		display: flex;
		padding: 130px 0;
}

/*maneja pocision de la imagen "lo hice yo"*/
.showcase-row-img img {
		padding: 2px 160px;
		width: 120mm;
}

/* llamando al parrafo p de la class large*/

.showcase-row-title p.large {
		padding-bottom: 15px;  /*nos seara un poco el parrafo del boton*/

}

/* Portfolio*/

#portfolio {
		padding: 80px 0;
		text-align: center; /*alinear el texto al centro*/
}

#portfolio p {
		width: 500px;
		margin: 0 auto;  /*permite centrar el parrafo*/
		padding-top: 10px; /*espacio para bajar el parrafo*/
		padding-bottom: 50px; /*un espacio debajo del parrafo*/
}

/* acomodar las imagenes en varias filas */

.portfolio-row {
		display: flex;
}

/* alinear imagenes centradas */
.portfolio-row img {
		width: 100%;
		padding: 10px;  /*espacios entre imagenes*/
		border-radius: 20px;
}

/* About Me */

#about {
		padding: 80px 0;
		text-align: center;
}

#about h2 {
		padding-bottom: 50px;  /*dar un espacio entre la cabecera o titulo y el parrafo*/
}

#about p {
		padding-bottom: 20px;/*espacio entre parrafos de 20px pixeles*/
}

/* Alinear el Contact Me */

#contact {
		padding: 80px 0;
}

#contact h2 {
		text-align: center;
}

#contact p {
		width: 500px;
		margin: 0 auto;  /*centrar parrafo*/
		padding-top: 2px;
		padding-bottom: 50px; /*espacios entre parrafos*/
		color: red;
}

.contact-row {
		display: flex;
		padding: 20px;
}

.contact-row-img {
		width: 50%;
}

.contact-row-img img {
		padding: 120px;
}

.contact-row-form {
		
}

.contact-row-form {
	width: 50%;
	margin: 0 auto;
	background-image: url("../img/mensaje.jpeg");
	background-size: cover;
	background-position: center;
	padding: 10px 33px 67px;
	border-radius: 20px;
	color: white;
}

.contact-row-form h4 {
		padding-bottom: 40px;
		text-align: center;
}

.contact-row-form button {
		width: 100%;
}

/* footer */

#mainfooter {
		text-align: center;
		padding: 30px;
}

.form {
	display: grid;
	grid-template-columns: 1fr;
}

.form__label {
	display:block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formu__group-input{
	position: relative; /*para que el grupo tenga un posicionamiento relativo*/
}

.form__input {
	width: 100%;
	background: #fff;
	border: 2px solid transparent;
	border-radius: 10px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form__input-area {
	width: 100%;
	background: #fff;
	border: 2px solid transparent;
	border-radius: 10px;
	height: 100px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

/*configuracion que permite colocar borde azul sonbreado cuando damos click en cualquier input o caja de taxto*/
.form__input:focus{
	border: 3px solid #0075ff;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);

}

/*configuracion que permite colocar borde azul sonbreado cuando damos click en cualquier input o caja de taxto*/
.form__input-area:focus{
	border: 3px solid #0075ff;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);

}

.form__input-error{
	font-size: 12px; /*tamaño del mensaje donde nos da las validaciones*/
	margin-bottom: 0; /*quitar margen del parrafo de las validaciones en el formulario*/
	display: none; /*ocultar parrafo*/
}

.form__input-error-activo{
	display: block;
}

/*configuracion del icono de la X en el formulario para realizar validacion de los campos*/
.form__validacion-estado{
	position: absolute;
	right: 10px;
	bottom: 16px;
	z-index: 100; /*para asegurar que el icono de la x en el fomulario va a estar por arriba de otros elementos*/
	font-size: 16px;
	color: red;
	opacity: 0;
}

.form__mensaje {
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form__mensaje-activo{
	display: block;
}

.form__mensaje p{
	margin: 0;
}

.formulario__mensaje-exito{
	font-size: 17px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo{
	display: block;
}



/* *****************************Estilos Para Validacion***************************************** */ 

.form__group-correcto .form__validacion-estado{
	color: #1ed12d;
	opacity: 1;
}


.form__group-incorrecto .form__validacion-estado{
	color: red;
	opacity: 1;
}

.form__group-incorrecto .form__input{
	border: 2px solid red;
}

main {
	color: rgb(17, 15, 14);
	width: 100%;
	min-height: 100vh;
	z-index: 100;
	position: relative;
	margin-top: 5vh;
	
}


main .contenedor {
	padding: 30px 0;
	width: 30%;
	max-width: 1000px;
	margin: auto;
}

main .subtitulo-h2{
	margin-bottom: 20px;
	padding: 0;
	font-size: 50px;
	text-align: center;
}


main .subtitulo-h2 ,main .letra-capital{
	text-shadow: 0 0 15px rgba(32, 8, 8, 0.5), 0 0 10px rgba(118, 5, 5, 0.5);
}

main .letra-capital{
	font-size: 55px;
	font-family: serif;
	margin-right: 10px;
	line-height: 15px; 
}